$color-accent: #c30516
$color-text-alt: #4F4333
$color-background-alt: #d6c5b1
$color-background: #f2ebd5
$body-overlay-color: rgba(0, 0, 0, 0)

$font-title: "Cassanet", sans-serif
$font-text: "Urbanist", sans-serif

$heading-font-family: $font-text
$body-font-family: $heading-font-family

$h1-font-family: $font-title
$h2-font-family: $font-title
$h3-font-family: $font-title
$quote-size-desktop-short: pxToRem(40)
$quote-size-desktop-long: pxToRem(40)

$header-background: $color-background
$header-border-bottom-width: 0
$header-logo-height: 70px
$header-logo-height-desktop: 100px
$header-dropdown-full: true
$hero-background-color: none
$footer-background-color: $color-background
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
