$color-accent: #D72622
$color-background-alt: #9C7D68
$color-background: #f2ebd5

$font-title: "Cassanet", sans-serif
$font-text: "Calvino", serif

$heading-font-family: $font-text
$body-font-family: $heading-font-family

$h1-font-family: $font-title
$h2-font-family: $font-title
$h3-font-family: $font-title

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 70px
$header-logo-height-desktop: 100px
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
