html
    @include media-breakpoint-up(desktop)
        font-size: Min(Max(1vw, 14px), 16px)
header#document-header
    nav
        *
            font-family: $font-title
        .active
            color: $color-accent
    @include media-breakpoint-up(desktop)
        nav:not(.upper-menu) 
            > .container
                flex-direction: column
                .logo
                    margin-left: -30px
                    margin-bottom: $spacing-4
            .nav-search
                margin-left: $spacing-3
.breadcrumb-nav
    *
        font-family: $font-title
        color: $color-text-alt

.posts__page
    h1
        @include h3

.posts__section,
.posts_categories__term,
.teachers__term
    .posts--list 
        article 
            margin-bottom: $spacing-3
            padding-bottom: $spacing-3
            .post-content 
                .post-title, 
                [itemprop="abstract"]
                   @include media-breakpoint-up(desktop)
                        max-width: columns(10)
            .post-meta
                time
                    @include h3
                    color: $color-accent

footer#document-footer
    padding-top: 35vw
    &::before
        background-image: url(/assets/images/dessin.png)
        background-size: 100%
        background-repeat: no-repeat
        background-position: 100% 0%
        top: 0
        content: ""
        display: block
        height: 100%
        mix-blend-mode: multiply
        pointer-events: none
        position: absolute
        width: 100%
    .logo
        margin-left: pxToRem(-24)
        @include media-breakpoint-up(desktop)
            margin-left: pxToRem(-36)