header#document-header
    nav
        *
            font-family: $font-title
        .active
            color: $color-accent
    @include media-breakpoint-up(desktop)
        nav:not(.upper-menu) 
            > .container
                flex-direction: column
                .logo
                    margin-left: -30px
                    margin-bottom: $spacing-4
.breadcrumb-nav
    *
        font-family: $font-title
        color: $color-text-alt
footer#document-footer
    // padding-top: 100px
    &::before
        background-image: url(/assets/images/dessin.png)
        background-size: 100%
        background-repeat: no-repeat
        content: ""
        display: block
        height: 20vw
        margin: 0 auto
        mix-blend-mode: multiply
        min-height: 150px
        max-height: 400px
        max-width: $grid-max-width
        position: relative
        width: 100%
    .logo
        margin-left: pxToRem(-24)
        @include media-breakpoint-up(desktop)
            margin-left: pxToRem(-36)
